<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Students in <%= @campus %></title>
</head>
<body>
    <h1>Students at the <%= @campus %> Campus</h1>
    <table style="width: 20%">
      <tr>
        <% @cols[1..-1].each do |label| %>
          <td style="font-weight: bold"><%= label.capitalize %></td>
        <% end %>
      </tr>  
     
      <% @rows.each do |row| %>
        <tr>
          <td><%= row[1] %></td>
          <td><%= row[2] %></td>
          <td><%= row[3] %></td>
        </tr>
      <% end %>
    </table>
</body>
</html>